@font-face {
  font-family: Alphakind;
  src: url("../../assets/fonts/Alphakind.otf");
}
* {
  box-sizing: border-box;
  font-family: Alphakind;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 16px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}

.section_global_title {
  text-align: center;
  position: relative;
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    font-size: 4.2rem;
    line-height: 51px;
    text-align: center;
    color: #5a310a;
    line-height: 51px;
    display: block;
    margin-top: 1rem;
  }
}
.btn_more {
  width: 375px;
  height: 120px;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #163958;
  background: url("../../assets/homepage/btn_more.png");
  cursor: pointer;
  border: none;
  padding: 20px 62px;
}
