#Homepage {
  margin-top: -8rem;
  #Section1 {
    position: relative;
    overflow: hidden;
    min-height: 1000px;
    @media (min-width: 800px) {
      min-height: 1304px;
    }
    // background: url("../../assets/homepage/section1_bg.png") center/cover
    //   no-repeat;
    margin-top: -2rem;
    text-align: center;
    // drawing bg
    .bg_jogo {
      position: absolute;
      top: 0;
      left: 0;
      width: 110%;
      @media (max-width: 1500px) {
        height: 100%;
      }
      &.animated_bg {
        animation: 5s linear infinite jogo alternate;
        @keyframes jogo {
          0% {
            left: -10%;
          }
          100% {
            left: 0%;
          }
        }
      }
    }
    .char_bg {
      position: absolute;
      left: -0.5%;
      bottom: 10%;
      animation: 3s linear infinite char_bg alternate;
      @keyframes char_bg {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(3deg);
        }
      }
      @media (max-width: 1200px) {
        height: 612px;
      }
      @media (max-width: 800px) {
        height: 70vw;
      }
    }
    .char_right_bg {
      position: absolute;
      right: 0;
      top: 0;
      animation: 3s linear infinite right_bg alternate;
      @keyframes right_bg {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(3deg);
        }
      }
      @media (max-width: 1200px) {
        height: 870px;
        bottom: 0px;
        top: auto;
      }
      @media (max-width: 800px) {
        height: 80vw;
      }
    }
    .bg_bottom_layer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 110%;
      animation: 3s linear infinite layer alternate;
      @keyframes layer {
        0% {
          left: -10%;
        }
        100% {
          left: 0%;
        }
      }
    }
    .circle_img {
      display: inline-block;
      margin-top: 100px;
      margin-bottom: 60px;
      position: relative;
      z-index: 2;
      @media (max-width: 800px) {
        height: 40vw;
      }
    }
    .section_content {
      position: relative;
      z-index: 2;
      .battle_bg {
        @media (max-width: 800px) {
          height: 10vw;
        }
      }
    }
    p {
      font-size: 3.2rem;
      max-width: 777px;
      margin: auto;
      min-height: 128px;
      text-shadow: 4px 4px 1px #10314f;
      @media (max-width: 800px) {
        font-size: 4vw;
      }
    }
    .btn_know {
      display: inline-block;
      width: 482px;
      height: 155px;
      background: transparent;
      border: none;
      cursor: pointer;
      @media (max-width: 800px) {
        width: auto;
        height: 12vw;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  #Section2 {
    margin-top: -16rem;
    background: url("../../assets/homepage/ArtWeb.png") center/100% 100%
      no-repeat;
    padding-bottom: 15rem;
    position: relative;
    z-index: 2;
    @media (max-width: 1500px) {
      padding-top: 50px;
      background-size: cover;
    }
    .section_title {
      text-align: center;
      padding-bottom: 50px;
      img {
        margin-top: -31px;
        margin-bottom: 2rem;
        @media (max-width: 1500px) {
          margin-top: 0px;
          width: calc(100% - 200px);
          display: block;
          margin: auto;
        }
        @media (max-width: 600px) {
          width: 95%;
        }
      }
    }
    .section_body {
      padding-left: 3rem;
      padding-right: 3rem;
      .video_frame {
        position: relative;
        width: 901px;
        height: 544px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 1000px) {
          width: 100%;
          height: 450px;
        }
        .frame_postar {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
        .video_btn {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        iframe {
          display: block;
          margin: auto;
          width: 88%;
          height: 85%;

          transform: rotate(-1deg);
        }
      }
      .content_wrapper {
        max-width: 930px;
        font-size: 2.1rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        .paragraph {
          margin-bottom: 71px;
          margin-top: 72px;
        }
      }
    }
  }
  #Section3 {
    background: url("../../assets/homepage/section_3bg.png") center/ cover
      no-repeat;
    margin-top: -11rem;

    padding-top: 13rem;

    .section_body {
      text-align: center;
      padding-bottom: 28px;
      @media (max-width: 800px) {
        padding-left: 3rem;
        padding-right: 3rem;
      }
      .paragraph {
        max-width: 925px;
        margin: auto;
        margin-top: 2.8rem;
        font-size: 2.1rem;
        line-height: 26px;
        text-align: center;
        color: #ffffff;
      }
      .buyback_wrapper {
        margin-bottom: 43px;
        @media (max-width: 800px) {
          img {
            width: 100%;
          }
        }
      }
      .content_1_wrapper {
        display: flex;
        justify-content: center;
      }
      .bcomp_wrapper {
        max-width: 734px;
        .title {
          position: relative;
        }
        .body {
          .bcomp_paragraph {
            background: #4c7696;
            border-radius: 29px;
            padding: 27px 24px 45px 18px;
          }
        }
      }
      .buy_bcomp_wrapper {
        margin-left: 83px;
        .buy_bcomp_btn {
          display: block;
          cursor: pointer;
          background: transparent;
          border: none;
          outline: none;
          margin-top: -6rem;
        }
      }
      .how_to_earn_wrapper {
        position: relative;
        margin-top: 12rem;
        .section_global_title {
          position: relative;
          max-width: 375px;
          margin: auto;
        }
        .chest_img {
          position: absolute;
          bottom: 50%;
          left: 40%;
          transform: translateX(-50%);
        }
        .content {
          position: relative;
          z-index: 2;
        }
      }
      .body {
        display: flex;
        justify-content: center;
        padding-top: 35px;
        padding-bottom: 80px;
        .content {
          max-width: 734px;
          padding: 4rem;
          background: #4c7696;
          border-radius: 29px;
          position: relative;
          &:first-child {
            margin-right: 96px;
          }
          .content_title {
            display: flex;
            justify-content: center;
            font-size: 45px;
            line-height: 55px;
            text-align: center;
            color: #5b88ab;
            text-shadow: 5px 5px #ffffff, -5px -5px #ffffff, -5px 5px #ffffff,
              5px -5px #ffffff;
            align-items: center;
            span {
              padding-left: 16px;
              padding-right: 16px;
              display: inline-block;
            }
            .coming_soon_icon {
              position: absolute;
              right: 15px;
              top: 12px;
            }
          }
          .content_description {
            p {
              font-size: 21px;
              line-height: 26px;
              text-align: center;
              color: #ffffff;
              margin: 0;
            }
          }
        }
      }
    }
  }
  #Section4 {
    background: #a5d2f5 url("../../assets/homepage/play_bg.png") center/100%
      100% no-repeat;
    position: relative;
    z-index: 2;
    .paragraph {
      font-size: 2.1rem;
      line-height: 26px;
      text-align: center;
      color: #407299;
      max-width: 693px;
      margin: auto;
      padding: 2rem 0px;
    }
    .card_wrapper {
      display: flex;
      justify-content: center;
      padding-bottom: 73px;
      .card {
        max-width: 583px;
        height: 398px;
        position: relative;
        .card_content {
          max-width: 277px;
          position: absolute;
          padding: 5px;
          .title {
            font-size: 3.5rem;
            line-height: 43px;
            text-align: center;
            color: #ffffff;
            margin: 0px;
          }
          p {
            margin: 0;
            font-size: 1.8rem;
            line-height: 22px;
            text-align: center;
            color: #ffffff;
          }
        }
        &:first-child {
          margin-right: 97px;
          .card_content {
            right: 41px;
            bottom: 12px;
          }
        }
        &:last-child {
          .card_content {
            left: 40px;
            bottom: 77px;
          }
        }
        .card_bg {
          width: 100%;
          height: 100%;
          pointer-events: none;
        }
        .card_bg_helper {
          position: absolute;
          left: 0;
          bottom: 0;
          &.card_bg_helper2 {
            right: -64px;
            left: auto;
          }
        }
      }
    }
    .footer {
      text-align: center;
      padding-bottom: 77px;
    }
  }
  #Section5 {
    .section_title {
      background: url("../../assets/homepage/nft_mask.png") center / 100% 100%
        no-repeat;
      min-height: 306px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-top: 4rem;
      span {
        margin-top: -2rem;
      }
    }
    .section_body {
      background: #10314f;
      margin-top: -12rem;
      padding-top: 12rem;
      .card_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 5.1rem;
        padding-bottom: 9.2rem;
        .nft_card {
          max-width: 456px;
          padding: 1rem 1.6rem 1rem 2.8rem;
          background: #092238;
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
          border-radius: 30px;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          margin-right: 97px;
          &:first-child {
            .card_title {
            }
          }
          &:last-child {
            margin-right: 0px;
            img {
              width: 100%;
            }
          }
          .break {
            background: #b1bb3c;
            height: 3px;
          }
          .card_title {
            img {
              width: 100%;
            }
            h3 {
              font-size: 6rem;
              line-height: 73px;
              text-align: center;
              color: #ffffff;
              margin: 0;
              margin-top: 1rem;
              margin-bottom: 2.5rem;
              position: relative;
              small {
                display: block;
                text-align: center;
                font-size: 14px;
                font-weight: lighter;
                position: absolute;
                left: 50%;
                bottom: -60%;
                transform: translateX(-50%);
              }
            }
          }
          .card_body {
            p {
              font-size: 2.1rem;
              line-height: 26px;
              text-align: center;
              color: #ffffff;
            }
          }
          .card_footer {
            height: 118px;
            li {
              color: var(--color);
              font-size: 2.1rem;
              line-height: 26px;
            }
          }
        }
      }
      .btn_wrapper {
        text-align: center;
        padding-bottom: 4.4rem;
        button {
          white-space: nowrap;
        }
      }
    }
    .section_body_slider {
      overflow: hidden;
      background: #1b5386;
      .break {
        background: #10314f;
        height: 60px;
        margin-top: 22px;
      }
      ::-webkit-scrollbar {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        height: 58px;
        background: #154069;
        width: 100%;
      }
      *::-webkit-scrollbar-thumb {
        background: #154069 url("../../assets/slider/slider_control.png") center
          no-repeat;
      }
      #sliderCard {
        padding-top: 49px;
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        .card_wrapper {
          // transform: translateX(-80px);
          display: flex;
        }
        .card {
          width: 376px;
          height: 348px;
          background: #092238;
          border-radius: 30px;
          text-align: center;
          margin-right: 49px;
          margin-bottom: 49px;
          .title {
            img {
              width: 100%;
            }
          }
          .body {
            .card_btn {
              position: relative;
              span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 32px;
                line-height: 39px;
                /* identical to box height */
                text-align: center;
                text-transform: uppercase;
                color: #ad5625;
              }
            }
          }
        }
      }
    }
  }
  #Section6 {
    background: url("../../assets/homepage/roadmap_bg.png") center/cover
      no-repeat;
    position: relative;
    .roadmap_draw1 {
      position: absolute;
      bottom: -27%;
      right: 0;
    }
    .roadmap_draw2 {
      position: absolute;
      bottom: -16%;
      left: -19%;
    }
    .section_title {
      text-align: center;
      padding-top: 236px;
      margin-bottom: 67px;
    }
    .roadmap_card_wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      max-width: 970px;
      margin: auto;
      .card {
        width: 368px;
        margin-bottom: 46px;
        &:nth-child(odd) {
          margin-right: 204px;
        }
        &:last-child {
          margin-right: 0px;
        }
        .title {
          height: 119px;
          position: relative;
          user-select: none;
          z-index: 2;
          .title_r {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }
          @mixin center-position {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .title_s {
            width: 302px;
            height: 81px;
            @include center-position();
          }
          .content {
            @include center-position();
            z-index: 2;
            font-size: 3.2rem;
            line-height: 39px;
            text-align: center;
            color: #ffffff;
          }
        }
        .body {
          height: 263px;
          width: 344px;
          border-radius: 28px;
          background: #797979;
          mix-blend-mode: multiply;
          border-radius: 28px;
          margin: -3rem auto 0px auto;
          text-align: center;
          padding: 50px;
          padding-top: 4rem;
          font-size: 21px;
          line-height: 26px;
          text-align: center;
          text-transform: uppercase;
          color: #ffffff;
          text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
  #Section7 {
    padding-top: 300px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        0deg,
        #ccdbff 0%,
        #c9d9ff 40%,
        #c1d3ff 61%,
        #b4c8ff 78%,
        #a0b9ff 93%,
        #94b0ff 100%
      );
      transform: matrix(1, 0, 0, -1, 0, 0);
      pointer-events: none;
      z-index: -1;
    }
    .section_title {
      font-size: 6rem;
      line-height: 73px;
      text-align: center;
      text-transform: uppercase;
      color: #5070bf;
      max-width: 383px;
      margin: auto;
    }
    .section_body {
      .team_card_wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: auto;
        margin-top: 4.7rem;
        max-width: 1200px;
        .card {
          max-width: 368px;
          background: #6b84c1;
          border-radius: 30px;
          padding: 2rem;
          margin-bottom: 7rem;
          margin-right: 4.7rem;
          &:last-child,
          &:nth-child(3) {
            margin-right: 0px;
          }
          .title {
            width: 329px;
            height: 203px;
            border-radius: 37px;
            text-align: center;
          }
          .body {
            text-align: center;
            h3 {
              font-size: 3.2rem;
              line-height: 39px;
              text-transform: uppercase;
              color: #ffffff;
              margin: 0;
            }
            strong {
              display: block;
              font-size: 2.1rem;
              line-height: 26px;
              color: #314881;
              margin: 0;
            }
            p {
              font-size: 2.1rem;
              line-height: 26px;
              color: #ffffff;
              margin: 0;
              margin-top: 2rem;
            }
          }
        }
      }
    }
    .section_footer {
      text-align: center;
      p {
        font-size: 2.1rem;
        line-height: 26px;
        text-align: center;
        color: #455a8d;
        margin-top: 4.3rem;
        margin-bottom: 4.7rem;
      }
      #social_list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 5.3rem;
        li {
          margin-right: 3.5rem;
          margin-bottom: 2rem;
          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
}
