#Homepage #Section1 {
  min-height: 1204px;
  background: url("../../assets/homepage/section1_bg.png") center/100% 100% no-repeat;
  margin-top: -2rem;
  text-align: center;
}

#Homepage #Section1 .circle_img {
  display: inline-block;
  margin-top: 50px;
}

#Homepage #Section1 p {
  font-size: 3.2rem;
  max-width: 777px;
  margin: auto;
  min-height: 128px;
}

#Homepage #Section1 .btn_know {
  display: inline-block;
  width: 482px;
  height: 155px;
  background: transparent;
  border: none;
  cursor: pointer;
}

#Homepage #Section2 {
  margin-top: -16rem;
  background: url("../../assets/homepage/ArtWeb.png") center/100% 100% no-repeat;
  padding-bottom: 15rem;
  position: relative;
  z-index: 2;
}

#Homepage #Section2 .section_title {
  text-align: center;
}

#Homepage #Section2 .section_title img {
  margin-top: -31px;
  margin-bottom: 2rem;
}

#Homepage #Section2 .section_body .video_frame iframe {
  display: block;
  margin: auto;
  min-width: 1003px;
  height: 606px;
}

#Homepage #Section2 .section_body .content_wrapper {
  max-width: 930px;
  font-size: 2.1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#Homepage #Section2 .section_body .content_wrapper .paragraph {
  margin-bottom: 71px;
  margin-top: 72px;
}

#Homepage #Section3 {
  background: url("../../assets/homepage/section_3bg.png") center/cover no-repeat;
  margin-top: -11rem;
  padding-top: 13rem;
}

#Homepage #Section3 .section_body {
  text-align: center;
  padding-bottom: 28px;
}

#Homepage #Section3 .section_body .paragraph {
  max-width: 925px;
  margin: auto;
  margin-top: 2.8rem;
  font-size: 2.1rem;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

#Homepage #Section3 .section_body .buyback_wrapper {
  margin-bottom: 43px;
}

#Homepage #Section3 .section_body .content_1_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Homepage #Section3 .section_body .bcomp_wrapper {
  max-width: 734px;
}

#Homepage #Section3 .section_body .bcomp_wrapper .title {
  position: relative;
}

#Homepage #Section3 .section_body .bcomp_wrapper .body .bcomp_paragraph {
  background: #4c7696;
  border-radius: 29px;
  padding: 27px 24px 45px 18px;
}

#Homepage #Section3 .section_body .buy_bcomp_wrapper {
  margin-left: 83px;
}

#Homepage #Section3 .section_body .buy_bcomp_wrapper .buy_bcomp_btn {
  display: block;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  margin-top: -6rem;
}

#Homepage #Section3 .section_body .how_to_earn_wrapper {
  position: relative;
  margin-top: 12rem;
}

#Homepage #Section3 .section_body .how_to_earn_wrapper .section_global_title {
  position: relative;
  max-width: 375px;
  margin: auto;
}

#Homepage #Section3 .section_body .how_to_earn_wrapper .chest_img {
  position: absolute;
  bottom: 50%;
  left: 40%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#Homepage #Section3 .section_body .how_to_earn_wrapper .content {
  position: relative;
  z-index: 2;
}

#Homepage #Section3 .section_body .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 35px;
  padding-bottom: 80px;
}

#Homepage #Section3 .section_body .body .content {
  max-width: 734px;
  padding: 4rem;
  background: #4c7696;
  border-radius: 29px;
  position: relative;
}

#Homepage #Section3 .section_body .body .content:first-child {
  margin-right: 96px;
}

#Homepage #Section3 .section_body .body .content .content_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  color: #5b88ab;
  text-shadow: 5px 5px #ffffff, -5px -5px #ffffff, -5px 5px #ffffff, 5px -5px #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Homepage #Section3 .section_body .body .content .content_title span {
  padding-left: 16px;
  padding-right: 16px;
  display: inline-block;
}

#Homepage #Section3 .section_body .body .content .content_title .coming_soon_icon {
  position: absolute;
  right: 15px;
  top: 12px;
}

#Homepage #Section3 .section_body .body .content .content_description p {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

#Homepage #Section4 {
  background: #a5d2f5 url("../../assets/homepage/play_bg.png") center/100% 100% no-repeat;
  position: relative;
  z-index: 2;
}

#Homepage #Section4 .paragraph {
  font-size: 2.1rem;
  line-height: 26px;
  text-align: center;
  color: #407299;
  max-width: 693px;
  margin: auto;
  padding: 2rem 0px;
}

#Homepage #Section4 .card_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 73px;
}

#Homepage #Section4 .card_wrapper .card {
  max-width: 583px;
  height: 398px;
  position: relative;
}

#Homepage #Section4 .card_wrapper .card .card_content {
  max-width: 277px;
  position: absolute;
  padding: 5px;
}

#Homepage #Section4 .card_wrapper .card .card_content .title {
  font-size: 3.5rem;
  line-height: 43px;
  text-align: center;
  color: #ffffff;
  margin: 0px;
}

#Homepage #Section4 .card_wrapper .card .card_content p {
  margin: 0;
  font-size: 1.8rem;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

#Homepage #Section4 .card_wrapper .card:first-child {
  margin-right: 97px;
}

#Homepage #Section4 .card_wrapper .card:first-child .card_content {
  right: 41px;
  bottom: 12px;
}

#Homepage #Section4 .card_wrapper .card:last-child .card_content {
  left: 40px;
  bottom: 77px;
}

#Homepage #Section4 .card_wrapper .card .card_bg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#Homepage #Section4 .card_wrapper .card .card_bg_helper {
  position: absolute;
  left: 0;
  bottom: 0;
}

#Homepage #Section4 .card_wrapper .card .card_bg_helper.card_bg_helper2 {
  right: -64px;
  left: auto;
}

#Homepage #Section4 .footer {
  text-align: center;
  padding-bottom: 77px;
}

#Homepage #Section5 .section_title {
  background: url("../../assets/homepage/nft_mask.png") center/100% 100% no-repeat;
  min-height: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 4rem;
}

#Homepage #Section5 .section_title span {
  margin-top: -2rem;
}

#Homepage #Section5 .section_body {
  background: #10314f;
  margin-top: -12rem;
  padding-top: 12rem;
}

#Homepage #Section5 .section_body .card_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5.1rem;
  padding-bottom: 9.2rem;
}

#Homepage #Section5 .section_body .card_wrapper .nft_card {
  max-width: 456px;
  padding: 1rem 1.6rem 1rem 2.8rem;
  background: #092238;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 97px;
}

#Homepage #Section5 .section_body .card_wrapper .nft_card:first-child .card_title img {
  margin-top: 8.4rem;
}

#Homepage #Section5 .section_body .card_wrapper .nft_card:last-child {
  margin-right: 0px;
}

#Homepage #Section5 .section_body .card_wrapper .nft_card:last-child img {
  width: 100%;
}

#Homepage #Section5 .section_body .card_wrapper .nft_card .break {
  background: #b1bb3c;
  height: 3px;
}

#Homepage #Section5 .section_body .card_wrapper .nft_card .card_title h3 {
  font-size: 6rem;
  line-height: 73px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  position: relative;
}

#Homepage #Section5 .section_body .card_wrapper .nft_card .card_title h3 small {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: lighter;
  position: absolute;
  left: 50%;
  bottom: -60%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#Homepage #Section5 .section_body .card_wrapper .nft_card .card_body p {
  font-size: 2.1rem;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

#Homepage #Section5 .section_body .card_wrapper .nft_card .card_footer li {
  color: var(--color);
  font-size: 2.1rem;
  line-height: 26px;
}

#Homepage #Section5 .section_body .btn_wrapper {
  text-align: center;
  padding-bottom: 4.4rem;
}

#Homepage #Section5 .section_body .btn_wrapper button {
  white-space: nowrap;
}
/*# sourceMappingURL=Homepage.css.map */