#Header {
  height: 242px;
  width: 100%;
  background: url("../../assets/layout/header/header_bg.png") 
    no-repeat;
  .header_list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    a {
      padding: 15px;
      display: inline-block;
      font-size: 3.2rem;
    }
    .logo_action {
      padding-top: 8.5rem;
    }
  }
}
