#Header {
  height: 242px;
  width: 100%;
  background: url("../../assets/layout/header/header_bg.png") no-repeat;
  z-index: 20;
  position: sticky;
  top: 0;
  left: 0;
  .header_list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    @media (min-width: 1187px) {
      padding-left: 88px;
    }
    li {
      align-self: flex-start;
      margin-top: 63px;
    }
    a {
      padding: 15px;
      display: inline-block;
      font-size: 3.2rem;
      text-shadow: 4px 4px 1px #10314f;
      white-space: nowrap;
    }
    .logo_list {
      align-self: center;
      margin-top: 0px;
    }
    .logo_action {
      padding-top: 5rem;
      &.logo_animated {
        img {
          animation: 1s ease-in-out logo forwards;
          transform-origin: center top;
          @keyframes logo {
            0% {
              transform: scale(1);
            }
            30% {
              transform: scale(1.3);
            }
            100% {
              transform: scale(0.7);
            }
          }
        }
      }
    }
  }
}
